html,
body {
  padding: 0;
  margin: 0;
  font-family:
    'Gill Sans', 
    'Gill Sans MT', 
    Calibri, 
    'Trebuchet MS', 
    sans-serif;
  line-height: 1.5;
  font-size: 20px;
  background: rgb(120, 187, 150);
}
 
* {
  box-sizing: border-box;
}
 
a {
  color: #252e3b;
  text-decoration: none;
}
 
a:hover {
  color: rgb(40, 44, 65);
}
 
img {
  max-width: 100%;
  display: block;
}